:root {
  --primary-color: rgb( 52, 49, 94 );
  --secondary-color: rgb( 249, 168, 38 );
  --terciary-color: rgb( 157, 156, 181 );
  --bars-block-color: rgb( 255, 231, 155 );
  --error-color: rgb( 245, 124, 124 );
  --gray-color: rgb( 23, 23, 23 );
  --line-separator-menu-color: rgb( 36, 34, 61 );
}

* {
  margin: 0;
  padding: 0;
  text-decoration: node;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.text-small {
  font-size: 1.1rem;
}

.text-medium {
  font-size: 1.2rem;
}

.text-big {
  font-size: 1.7rem;
}

.color-primary {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-terciary {
  color: var(--terciary-color);
}

.bold {
  font-weight: 600;
}

.light-weight {
  font-weight: 300;
}
