* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 20px;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.title {
  font-size: 110%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.time {
  font-family: 'DotGothic16', sans-serif;
  font-size: 400%;
}

.buttons-move-container {
  display: flex;
  justify-content: space-around;
  margin: 0.4em 0;
  width: 300px;
}

.clock {
  display: flex;
  justify-content: space-around;
  border: 1px solid #e4e4e4;
  min-width: 300px;
  overflow: hidden;
}

.container-list {
  display: flex;
  justify-content: space-around;
  height: 100px;
  position: relative;
  width: 50%;
}

.list-numbers {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  transition: 0.5s;
}

.number {
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.selected {
  font-size: 40px;
  color: #ff0000;
}