.header-container {
  padding: 1rem;
  position: relative;
}

.menu-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.box-right {
  display: flex;
  justify-content: space-between;
  flex-grow: 0.1;
}

.button-menu {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  outline: none;
  color: var(--primary-color);
}

.menu-links {
  background-color: var(--primary-color);
  box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 10rem;
}

.close-icon {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  padding-right: 0.9rem;
  padding-top: 0.8rem;
  text-align: right;
}

.close-icon button {
  background-color: transparent;
  border: none;
}

.close-icon i {
  color: white;
  font-size: 1.1rem;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--line-separator-menu-color);
}

.link:nth-child(1) {
  border-top: 1px solid var(--line-separator-menu-color);
}

.link i {
  color: var(--terciary-color);
  font-size: 0.8rem;
  margin-right: 0.8rem;
}

.link li {
  color: white;
  font-size: 1.1rem;
  line-height: 2.5rem;
  margin-left: 0.5rem;
}